<div class="toot-bottom-bar">
<% if current_user %>
  <%# -------Reply-------- %>
  <% unless toot_is_reply?(toot)  %>
    
    <a href="<%= user_toot_toot_replies_path(toot.user, toot) %>"
                  class="replyto-toot", data-tootid="<%= toot.id %> ">
      <i class='glyphicon glyphicon-share-alt'></i>
      reply
    </a>
  <% end %>


  <%# -------Retoot-------- %>
  <% if isValidRetoot? toot.id %>
    <%= render partial: "/toots/retoot_link", locals: { toot: toot } %>
  <% elsif hasCurrentUserRetooted? toot.id %>
    <%= render partial: "/toots/retoot_delete_link", locals: { toot: toot } %>
  <% end %>
  
  <%# -------Favorites-------- %>
      
  <%= render partial: "/toots/toot_favorite_link", locals: { toot: toot } %>  

  <%# ------Delete-------- %>
  <% if toot.user_id == current_user.id %>
    <a href="<%= user_toot_path(current_user, toot.id) %>" class="delete-toot">
      <i class='glyphicon glyphicon-ban-circle'></i>
      delete
    </a>
  <% end %>
<% else %>
  <a href="<%= new_user_session_url %>">login to interact</a>
<% end %>
</div>