<div id="side-profile">
  <h3>Profile</h3>
  <%= render partial: "users/user", locals: { user: user } %>
  <% if @user != current_user && @user %>
    <%= render partial: "/follows/dynamic_follow_button", locals: { user: @user} %>
  <% end %>
  
  <table>
    <tr> 
      <td>Following </td>
      <td>Followers </td>
    </tr>
      <td><%= link_to "#{user.following.size}", user_following_path(user) %></td>
      <td><%= link_to "#{user.followers.size}", user_followers_path(user) %></td>
    <tr>
      <td>Toots</td>
      <td>Retoots</td>
    </tr>
    <tr>
      <td><%= user.toots.size %></td>
      <td><%= user.retoots.size %></td>
    </tr>
    <tr>
      <td>Mentions</td>
      <td>Favorites</td>
    </tr>
    <tr>
      <td><%= link_to "#{user.mentions.size}", user_mentions_path(user) %></td>
      <td><%= link_to "#{user.favorites.size}", user_favorites_path(user) %></td>
    </tr>
  </table>
</div>