<div id="side-profile">
  <h3>Profile</h3>
  <%= render partial: "users/user", locals: { user: user } %>
  <% if @user != current_user && @user %>
    <%= render partial: "/follows/dynamic_follow_button", locals: { user: @user} %>
  <% end %>
  
  <table>
    <tr> 
      <td>Following </td>
      <td>Followers </td>
    </tr>
      <td><%= user.following.size %></td>
      <td><%= user.followers.size %></td>
    <tr>
      <td>Toots</td>
      <td>Retoots</td>
    </tr>
    <tr>
      <td><%= user.toots.size %></td>
      <td><%= user.retoots.size %></td>
    </tr>
  </table>
</div>