<div class="user-container col-md-6">
  <div class="profile-field">
    <span class="profile-label">Name:</span> <%= @user.name %>
  </div>
  <div class="profile-field">
    <span class="profile-label">Bio:</span> <%= @user.bio %>
  </div>
  <div class="profile-field">
    <span class="profile-label">Location:</span> <%= @user.location %>
  </div>
  <div class="profile-field">
    <span class="profile-label">Website:</span> <%= @user.website %>
  </div>
  <% if @user == current_user %>
    <%= link_to("edit profile", edit_user_url) %>
  <% end %>
</div>