<!DOCTYPE html>
<html>
<head>
  <title>TootToot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_tag do %>
    window.login_url = "<%=j new_user_session_url %>";
    window.login_required = "<%=j login_required %>";
  <% end %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <p>
    <%= render partial: "./users/header" %>
  </p>

<div class="container">
  <%= yield %>
</div>  

</body>
</html>
